ProyectoAndroid/GrouponAndroidStudioV22/._app
ProyectoAndroid/GrouponAndroidStudioV22/._build.gradle
ProyectoAndroid/GrouponAndroidStudioV22/._gradle
ProyectoAndroid/GrouponAndroidStudioV22/._gradle.properties
ProyectoAndroid/GrouponAndroidStudioV22/._gradlew
ProyectoAndroid/GrouponAndroidStudioV22/._gradlew.bat
ProyectoAndroid/GrouponAndroidStudioV22/._GrouponAndroidStudioV22.iml
ProyectoAndroid/GrouponAndroidStudioV22/._settings.gradle
ProyectoAndroid/GrouponAndroidStudioV22/.idea/._caches
ProyectoAndroid/GrouponAndroidStudioV22/.idea/._codeStyles
ProyectoAndroid/GrouponAndroidStudioV22/.idea/._gradle.xml
ProyectoAndroid/GrouponAndroidStudioV22/.idea/._modules.xml
ProyectoAndroid/GrouponAndroidStudioV22/.idea/._runConfigurations.xml
ProyectoAndroid/GrouponAndroidStudioV22/.idea/caches/._build_file_checksums.ser
ProyectoAndroid/GrouponAndroidStudioV22/.idea/codeStyles/._Project.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/._build.gradle
ProyectoAndroid/GrouponAndroidStudioV22/app/._proguard-rules.pro
ProyectoAndroid/GrouponAndroidStudioV22/app/._src
ProyectoAndroid/GrouponAndroidStudioV22/app/src/._androidTest
ProyectoAndroid/GrouponAndroidStudioV22/app/src/._main
ProyectoAndroid/GrouponAndroidStudioV22/app/src/._test
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/._java
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/java/._com
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/java/com/._seas
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/java/com/seas/._usuario
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/java/com/seas/usuario/._grouponandroidstudiov2
ProyectoAndroid/GrouponAndroidStudioV22/app/src/androidTest/java/com/seas/usuario/grouponandroidstudiov2/._ApplicationTest.java
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/._AndroidManifest.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/._java
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/._res
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/._com
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/._seas
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/._usuario
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/usuario/._grouponandroidstudiov2
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/usuario/grouponandroidstudiov2/._beans
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/usuario/grouponandroidstudiov2/._datos
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/usuario/grouponandroidstudiov2/._threads
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/java/com/seas/usuario/grouponandroidstudiov2/._tools
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._drawable
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._layout
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._menu
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._mipmap-hdpi
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._mipmap-mdpi
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._mipmap-xhdpi
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._mipmap-xxhdpi
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._mipmap-xxxhdpi
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._values
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._values-v21
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/._values-w820dp
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._bancos.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._gasolineras.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._groupon.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._hospitales.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._ic_action_search.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._ic_menu_insertar.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._logo_glovo.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._ok.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._restaurantes.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._seas.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/drawable/._tiendas.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._activity_lista_ofertas.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._activity_login.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._activity_main.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._activity_mapa.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._content_main.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/layout/._list_item.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/menu/._menu_main.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/mipmap-hdpi/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/mipmap-mdpi/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/mipmap-xhdpi/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/mipmap-xxhdpi/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/mipmap-xxxhdpi/._ic_launcher.png
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values/._colors.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values/._dimens.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values/._strings.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values/._styles.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values-v21/._styles.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/main/res/values-w820dp/._dimens.xml
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/._java
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/java/._com
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/java/com/._seas
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/java/com/seas/._usuario
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/java/com/seas/usuario/._grouponandroidstudiov2
ProyectoAndroid/GrouponAndroidStudioV22/app/src/test/java/com/seas/usuario/grouponandroidstudiov2/._ExampleUnitTest.java
ProyectoAndroid/GrouponAndroidStudioV22/gradle/._wrapper
ProyectoAndroid/GrouponAndroidStudioV22/gradle/wrapper/._gradle-wrapper.jar
ProyectoAndroid/GrouponAndroidStudioV22/gradle/wrapper/._gradle-wrapper.properties
